<p style="color: green"><%= notice %></p>

<h1>Budgets</h1>

<div id="budgets" class="list-group">
  <% @budgets.each do |budget| %>
    <%= link_to budget.name, budget, class: 'list-group-item list-group-item-action' %>
  <% end %>
</div>

<p class="mt-4">
<%= link_to new_budget_path, class: 'btn btn-primary' do %>
  New Budget
<% end %>
</p>
